:root {
  --jumbotron-padding-y: 48px;
  --green: #1a3c34;
  --black: #000;
  --grey: #f4f3f0;
  --white: #fff;
  --brown: rgb(108, 112, 47);
  --lightbrown: #ebe9e5;
  --blue: #0071ce;
  font-size: 100% !important;
}

html {
  -webkit-font-smoothing: antialiased;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'Chobani Serif Semibold';
  src: url('https://cdn.jsdelivr.net/gh/reconstrukt/chobani-careers-portal@latest/assets/fonts/ChobaniSerif-Semibold.eot'); /* IE9 Compat Modes */
  src: url('https://cdn.jsdelivr.net/gh/reconstrukt/chobani-careers-portal@latest/assets/fonts/ChobaniSerif-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('https://cdn.jsdelivr.net/gh/reconstrukt/chobani-careers-portal@latest/assets/fonts/ChobaniSerif-Semibold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/reconstrukt/chobani-careers-portal@latest/assets/fonts/ChobaniSerif-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chobani Serif';
  src: url('https://cdn.jsdelivr.net/gh/reconstrukt/chobani-careers-portal@latest/assets/fonts/ChobaniSerif-Regular.eot'); /* IE9 Compat Modes */
  src: url('https://cdn.jsdelivr.net/gh/reconstrukt/chobani-careers-portal@latest/assets/fonts/ChobaniSerif-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('https://cdn.jsdelivr.net/gh/reconstrukt/chobani-careers-portal@latest/assets/fonts/ChobaniSerif-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/reconstrukt/chobani-careers-portal@latest/assets/fonts/ChobaniSerif-Regular.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Chobani Sans';
  src: url('https://cdn.jsdelivr.net/gh/reconstrukt/chobani-careers-portal@latest/assets/fonts/ChobaniSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('https://cdn.jsdelivr.net/gh/reconstrukt/chobani-careers-portal@latest/assets/fonts/ChobaniSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn.jsdelivr.net/gh/reconstrukt/chobani-careers-portal@latest/assets/fonts/ChobaniSans-Regular.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/reconstrukt/chobani-careers-portal@latest/assets/fonts/ChobaniSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body a, .inner a {
  color: var(--green) !important;
  font-family: 'Chobani Serif', serif !important;
}

body a:hover, .inner a:hover {
  color: #ff4814 !important;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
}

header .container-fluid {
  background-color: var(--white);
  padding: 0;
}

main {
  background-color: var(--grey);
  overflow-x: hidden;
  padding-top: 100px;
}

.navbar-brand {
  padding: 0 !important;
}

@media only screen and (max-width: 768px) {
  header .navbar-brand svg {
    width: 120px;
  }

  main {
    padding-top: 0px;
  }
}

main .careers .bg-wrap .bg-left {
  background-image: url("https://cdn.jsdelivr.net/gh/reconstrukt/chobani-careers-portal@latest/assets/images/Careers_Hero_Image_v2.jpg?w=700");
  background-size: cover;
  background-position: 50%;
  height: calc(100% - 5px);
  width: calc(100% - 5px);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: opacity .6s cubic-bezier(.19,1,.22,1);
  transition-delay: .2s;
  position: absolute;
  background-repeat: no-repeat;
}

main .careers .bg-wrap .bg-mask {
  background-image: url("https://cdn.jsdelivr.net/gh/reconstrukt/chobani-careers-portal@latest/assets/images/Careers_Hero_Mask.svg?w=700");
  background-repeat: no-repeat;
  position: absolute;
  background-size: auto 100%;
  background-position: 100% 0;
  width: 100%;
  height: 100%;
  right: 0;
  transition: all .3s cubic-bezier(.215,.61,.355,1);
}

main .careers .bg-wrap {
  height: calc(100% + 50px);
  right: 0;
  top: -50px;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  main .careers .bg-wrap {
    margin-top: 0;
    width: 100%;
    padding-bottom: 100%;
    top: 0;
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  main .careers .bg-wrap .bg-left {
    height: calc(100%);
    width: 100%;
    bottom: 1px;
    top: 1rem;
    transform: translate(-50%);
  }

  main .careers .bg-wrap .bg-mask {
    background-size: 100% auto;
    margin-top: 1rem;
  }
}


main .careers .c-header {
  font-family: "Chobani Serif", serif;
  font-size: 48px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #1a3c34;
}

@media only screen and (max-width: 768px) {
  main .careers .col-md-6 {
    height: auto;
  }

  main .careers .c-header {
    font-size: 28px;
    width: 80%;
  }

  main .careers .c-content {
    font-size: 20px !important;
  }
}

main .careers .c-header strong {
  font-family: "Chobani Serif Semibold", serif;
}

main .careers .c-content {
  font-family: "Chobani Serif", serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  font-weight: normal;
  color: #1a3c34;
}

main .careers .bg-careers-land {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (max-width: 1200px) {
  main .careers .bg-careers-land {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

main .careers .bg-careers-land .land-header {
  color: rgb(108, 112, 47);
  font-family: 'Chobani Sans', serif !important;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0.3px;
}

main .careers .bg-careers-land .view-open-options {
  font-family: 'Chobani Sans', serif !important;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.2px;
  padding: 17px 24px;
  border-radius: 2px;
  text-align: center;
  background-color: var(--white);
  white-space: nowrap;
  transition: all .3s cubic-bezier(.215,.61,.355,1);
  margin-top: 32px;
}

main .careers .bg-careers-land .view-open-options:hover {
  color: var(--green) !important;
  transition: background-color 0.3s linear 0s;
  background-color: hsla(0, 0%, 100%, 0.7);
} 

.container-fluid {
  max-width: 1440px;
}

main .color-brown {
  color: var(--brown);
}

main .color-green {
  color: var(--green);
}

main .h0 {
  font-size: 48px;
  line-height: 1.17;
}

@media only screen and (max-width: 768px) {
  main .h0 {
    font-size: 28px;
  }
}

main .h6 {
  line-height: 1.5;
  letter-spacing: 0.3px;
}

main .carousel .slide-card {
  display: flex;
  margin-left: 24px;
  margin-right: 24px;
  outline: none;
  user-select: none;
  cursor: pointer;
}

main .carousel .slide-card .right-content {
  background-color: var(--white);
  padding: 40px;
  width: 50%;
}

main .carousel .slide-card img {
  width: 50%;
  height: 520px;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  main .carousel .slide-card .right-content {
    width: 100%;
    height: 480px;
  }
  
  main .carousel .slide-card img {
    width: 100%;
    height: 380px;
  }
}

main .carousel .slide-card .right-content .right-content-desc {
  font-family: "Chobani Serif", serif;
}


main .carousel .slide-card .right-content .right-content-desc strong {
  font-family: "Chobani Serif Semibold", serif;
}

main .carousel .slide-card .right-content .right-content-header {
  font-family: "Chobani Serif Semibold", serif;
}

main .chobani-perks .c-title {
  font-family: "Chobani Sans", sans-serif !important;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0.3px;
  font-weight: 200;
}

main .chobani-culture .c-title {
  font-family: "Chobani Sans", sans-serif !important;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0.3px;
  font-weight: 200;
}

main .chobani-values .c-title {
  font-family: "Chobani Sans", sans-serif !important;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0.3px;
  font-weight: 200;
}

main .chobani-openings .c-title {
  font-family: "Chobani Sans", sans-serif !important;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0.3px;
  font-weight: 200;
}

.slick-dots {
  bottom: -50px !important;
  z-index: 100;
}

.slick-dots li {
  margin: 0 !important;
}

.slick-dots li.slick-active button:before {
  opacity: 0.5 !important;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 0.7 !important;
}

.slick-dots li button:before {
  font-size: 32px !important;
}

main .chobani-culture {
  margin-top: 160px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .slick-dots {
    bottom: -33px !important;
    z-index: 100;
  }
  
  main .chobani-culture {
    margin-top: 7rem;
  }

  main .chobani-values:first-of-type .container-fluid {
    padding-top: 64px;
    padding-bottom: 0;
  }
}

main .chobani-culture .carousel .slide-card iframe {
  border: none;
  display: none;
}

main .chobani-culture .slide-card .video {
  width: 100%;
  position: relative;
}

main .chobani-culture .slide-card .video .video-play {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  fill: var(--white);
  display: inline-block;
  width: 72px;
  cursor: pointer;
}

main .chobani-culture .slide-card .video .video-play:hover {
  width: 85px;
  transition: width 0.3s ease-in;
}

main .chobani-culture .slide-card .video .video-play svg {
  transition: all .3s cubic-bezier(.215,.61,.355,1);
  transform-origin: 50% 50%;
}

main .chobani-culture .slide-card .video .video-bg {
  z-index: 2;
  opacity: 0;
  transition: opacity .7s cubic-bezier(.19,1,.22,1);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--green);
}

main .chobani-culture .slide-card .video .video-text {
  position: absolute;
  top: calc(50% + 50px);
  opacity: 0;
  text-align: center;
  transition: all .4s cubic-bezier(.215,.61,.355,1);
  z-index: 3;
  width: 100%;
  transform: translate3d(0,10px,0);
  width: 80%;
  left: 10%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  line-height: 1.33;
  font-family: "Chobani Serif", serif;
  color: var(--white);
}

main .chobani-culture .slide-card .video .image-preview {
  transition: opacity 1s cubic-bezier(.19,1,.22,1);
  opacity: 1;
  transition-delay: .15s;
  opacity: 1;
  z-index: 1;
  left: -1px;
  width: calc(100% + 2px);
  width: 100%;
  padding-bottom: 56%;
  position: relative;
}

main .chobani-culture .slide-card .video .image-preview img {
  width: 100%;
  height: auto;
  position: absolute;
  min-width: calc(100% + 1px);
  min-height: calc(100% + 1px);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

main .chobani-culture .slide-card .video {
  flex-shrink: 0;
  -ms-flex-align: stretch;
  align-items: stretch;
}

main .chobani-culture .carousel .slide-card .video:hover .video-bg {
  opacity: 0.9;
}

main .chobani-culture .carousel .slide-card .video:hover .video-text {
  transform: translateZ(0);
  opacity: 1;
}

main .chobani-culture .carousel-bottom-bg {
  max-width: 1340px;
  width: 100%;
  margin: auto;
  margin-top: -80px;
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
  main .chobani-culture .carousel-bottom-bg {
    bottom: -34px;
    padding: 0 18px;
  }
}

main .chobani-values {
  margin-top: 128px;
  padding: 0 40px;
}

@media only screen and (max-width: 768px) {
  main .chobani-values {
    padding: 0px;
    margin-top: 4rem;
  }
}

main .chobani-values .container-fluid {
  padding: 80px 20px;
  background: var(--lightbrown);
}

main .chobani-values .container-fluid > p {
  font-family: "Chobani Serif", serif;
}

main .chobani-values .container-fluid > p > span {
  font-family: "Chobani Serif Semibold", serif;
  margin-right: 4px;
}

main .chobani-values .container-fluid .h5 {
  font-family: "Chobani Serif", serif;
}

main .chobani-values .container-fluid .recognitions {
  margin-top: 96px;
  margin-bottom: 48px;
}

main .chobani-values .chobani-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .chobani-values .chobani-card .image-header {
  max-width: 150px;
  position: relative;
  margin-bottom: 40px;
}

main .chobani-values .row {
  margin-bottom: 80px;
}

main .chobani-values .chobani-card .chobani-card-header {
  font-family: "Chobani Serif Semibold", serif;
  margin-bottom: 0.75rem;
}

main .chobani-values .chobani-card .chobani-card-desc {
  font-family: "Chobani Serif", serif;
  width: 100%;
  max-width: 270px;
  text-align: center;
}

main .chobani-openings {
  padding-top: 84px;
  padding-bottom: 32px;
}

main .chobani-openings .container-fluid > p {
  font-family: "Chobani Serif", serif;
  margin-bottom: 48px;
}

@media only screen and (max-width: 768px) {
  main .chobani-values .row {
    margin-bottom: 0;
  }

  main .chobani-values .chobani-card .chobani-card-desc {
    max-width: 100%;
    font-size: 20px;
  }

  main .chobani-openings .container-fluid > p {
    font-family: "Chobani Serif", serif;
    margin-bottom: 48px;
  }

  main .chobani-openings {
    padding-top: 32px;
  }
}

main .chobani-openings .container-fluid .col-md-4 {
  display: flex;
  height: 50px;
}

main .chobani-openings .container-fluid a {
  font-family: "Chobani Serif", serif;
  margin: auto;
}

main .chobani-openings-description {
  padding-top: 64px;
  padding-bottom: 80px;
}

main .chobani-openings-description p {
  font-family: "Chobani Serif", serif;
  max-width: 500px;
}

main .chobani-openings-description p > a {
  color: var(--blue) !important;
  font-size: 16px;
  font-family: "Chobani Serif", serif;
  text-decoration: underline;
}

main .chobani-openings-description p.h1 {
  font-size: 48px;
}

main .chobani-openings-description p.for-assistance a {
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  main .chobani-openings-description p.for-assistance {
    font-size: 20px;
    line-height: 0.5;
  }

  main .chobani-openings-description p.for-assistance a {
    font-size: 20px;
  }

  main .chobani-openings-description p.look-for-job {
    font-size: 28px;
    width: 60%;
    margin-bottom: 32px !important;
  }
}

main .chobani-openings-description img {
  margin-left: auto;
  margin-right: auto; 
  margin-top: 150px;
  width: 100%;
  margin-bottom: 80px;
}

main .chobani-openings-description .submit-application {
  background: var(--white);
  padding: 16px 24px;
  font-family: "Chobani Serif", serif;
  width: fit-content;
  text-decoration: none;
}

main .chobani-openings-description .signup-for-alerts {
  color: var(--blue);
  font-size: 16px;
  font-family: "Chobani Serif", serif;
  text-decoration: underline;
}

footer {
  color: var(--white);
  font-family: "Chobani Serif", serif;
  background: var(--grey);
}

footer .container-fluid {
  padding: 48px;
  background: var(--green);
}

footer .c-border {
  border-top: none;
  border-bottom: 1px solid var(--white);
}

footer .c-nav-links {
  font-family: "Chobani Serif", serif;
}

footer .c-nav-links a {
  font-family: "Chobani Serif", serif;
  font-size: 16px;
  color: var(--white) !important;
}

footer .c-nav-links a:hover {
  color: var(--white) !important;
}

footer .d-flex {
  font-family: "Chobani Serif", serif;
  font-size: 16px;
}

footer .copyright {
  color: #bbc5ba !important;
  font-size: 14px;
  font-family: 'Chobani Sans',sans-serif;
}

footer p {
  margin-bottom: 4px;
}

main .job-category {
  background-color: var(--green);
  height: 128px;
  display: flex;
}

@media only screen and (max-width: 768px) {
  main .job-category {
    height: 80px;
    margin-top: 82px;
  }
}

main .job-category .category {
  margin: auto;
  color: var(--white);
  white-space: nowrap;
  font-family: "Chobani Serif Semibold", serif;
}

main .job-filter {
  position: relative;
  width: 100%;
  height: 250px;
  font-family: "Chobani Serif", serif;
  background: url("https://cdn.jsdelivr.net/gh/reconstrukt/chobani-careers-portal@latest/assets//images/jobs.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main .job-filter .main-filters .search-filter input {
  width: 100%;
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 0 4px;
  font-family: "Chobani Serif", serif;
  height: 28px;
}

main .job-filter .main-filters .search-filter {
  width: 30%;
}

main .job-filter .main-filters .search-filter label {
  color: var(--green);
  top: 30px;
}

main .job-filter .main-filters button.search-jobs {
  background-color: var(--brown);
  color: var(--white);
  border-radius: 4px;
  height: 40px;
}

main .job-filter .main-filters .location {
  width: 25%;
}

main .job-filter .main-filters .category {
  width: 25%;
}

@media only screen and (max-width: 768px) {
  main .job-filter .main-filters .location,.category,.search-filter  {
    width: 50% !important;
  }
}

main .jobs-board {
  background-color: #f4f3f0;
  padding: 16px 0 80px 0;
}

main .jobs-board .jobs-list .table th {
  border-top: none;
  padding: 20px;
  font-family: "Chobani Serif Semibold", serif;
  font-size: 20px;
  color: var(--green);
}

main .jobs-board .jobs-list table {
  color: var(--green);
  font-family: "Chobani Serif", serif;
}

main .jobs-board .jobs-list table tbody tr:first-of-type td {
  padding-top: 20px;
}

main .jobs-board .jobs-list table tbody tr:last-of-type td {
  border-bottom: 1px solid #dee2e6;
}

main .jobs-board nav .pagination-sm .page-item .page-link {
  border-radius: 0;
  border-color: var(--green);
  color: var(--green);
  background-color:  #f4f3f0;
  padding: 8px 14px;
}

main .jobs-board nav .page-item.active .page-link {
  background-color: var(--green);
  border-color: var(--green);
  color: var(--white) !important;
}

main .jobs-board .jobs-list .pagination-header {
  margin-right: 32px;
  line-height: 40px;
  color: var(--green);
  letter-spacing: 0.2px;
  font-size: 15px;
  font-weight: 200;
}

main table td {
  width: 33.333333%;
}

main .share-jobs .share-jobs-header {
  margin-right: 32px;
  line-height: 20px;
  color: var(--green);
  letter-spacing: 0.2px;
  font-size: 15px;
  font-weight: 200;
}

main .share-jobs i {
  color: var(--white);
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 20px;
  background-color: var(--green);
  font-size:14px;
  font-weight: bold;
  border: 1px solid #999;
  cursor: pointer;
}

/* select2 styles ------------------------ */

.select2-results__option .wrap:before{
  font-family:fontAwesome;
  color:#999;
  content:"\f096";
  width:25px;
  height:25px;
  padding-right: 10px;
  
}
.select2-results__option--selected .wrap:before{
  content:"\f14a";
}

/* not required css */

.selector-location, .selector-multiple2, .selector-category {
  width: 100%
}

.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
  font-family:fontAwesome;
  color:var(--white);
  content:"\f107";
  width:25px;
  height:25px;
  position: absolute;
  bottom: -15px;
  right: -10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none !important;
}

.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
  content: "\f106";
  color: var(--white);
}

.select2-container--default .select2-selection--single {
  border-radius: 2px !important;
  border: none !important;
  background-color: var(--green) !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: var(--white) !important;
  font-family: "Chobani Serif", serif;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--white) !important;
}

.select2-results__option {
  padding: 2px 20px !important;
}

.select2-container--default .select2-results>.select2-results__options {
  background-color: var(--green) !important;
  color: var(--white);
  font-family: "chobani Serif", serif;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 20px !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--green) !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable .wrap:before {
  color: #bbb !important;
}

.select2-container--default .select2-results__option--selected {
  background-color: var(--green) !important;
}

.select2-dropdown {
  border: none !important;
}

.select2-container {
  width: 100% !important;
}

