div#header {
	display: none !important;
}

div #footer {
	display: none !important;
}

div.inner {
	max-width: 100% !important;
}

div#innershell {
	max-width: 100% !important;
}

div.customPlugin {
	margin: 0 !important;
}

body.coreCSB a:not(#skipLink), #body .outershell .btn, body.coreCSB div.ukCookiePolicy>div.container button.btn, .outershell div.searchwell input, select.optionsFacet-select {
	border: none !important;
}

div#skip {
	display: none !important;
}
