div#header {
	display: none !important;
}

div #footer {
	display: none !important;
}

div.inner {
	max-width: 100% !important;
}

div#innershell {
	max-width: 100% !important;
}

div.customPlugin {
	margin: 0 !important;
}


div#skip {
	display: none !important;
}

div.inner > div:not(.customPlugin) {
	display: none !important;
}

div.inner > #search-wrapper,
div.inner > #job-table {
	display: block !important;
}

@media only screen and (max-width: 768px) {
	div.inner > #search-wrapper {
		padding-top: 100px;
	}
}

.jobs-board .share-jobs {
  display: none !important;
}

hr {
	display: none !important;
}

.optionsFacet .optionsFacet-label {
	margin-bottom: 5px;
	padding-left: 1rem;
	justify-content: flex-start;
	color: var(--green);
}

#savesearch {
	display: none;
}

#tile-search-results-label {
	padding-left: 0;
}

.optionsLink .optionsLink-padding, .optionsFacet {
	max-width: 100%;
	width: 100%;
}

.optionsDiv select {
	height: 26px;
	background-color: var(--green);
	color: var(--white) !important;
}

.searchwell .row>div>span {
	color: var(--green);
}

#body .outershell .btn, #body .outershell input[type="submit"] {
	color: var(--white) !important;
	background-color: var(--brown) !important;
}

.searchwell input {
	background-color: var(--green);
	color: var(--white) !important;
}

#keywordsearch .container-fluid .row:nth-of-type(2) > div{
	width: 100%;
}

#keywordsearch-q {
	width: 100%;
}

#content .searchwell {
	background-image: url(https://raw.githubusercontent.com/reconstrukt/chobani-careers-portal/master/assets/images/jobs.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.outershell div.searchwell a, .outershell div.search a {
	color: var(--green) !important;
}

.optionsDiv select {
	margin-top: 0px !important;
}

#content > .inner > div {
	margin-bottom: 0 !important;
}

div.inner > #job-table {
	width: 100%;
	max-width: 1440px;
	background: transparent;
}

.job-list {
	margin-top: 30px;
}

.job-tile-result-container {
	padding: 48px;
}

#job-tile-list {
	width: 100% !important;
	max-width: 1440px !important;
}

#content {
	background-color: var(--grey);
}

.talentlanding-page #content>.inner {
	background-color: var(--grey);
}

.tiletitle h2 {
	margin-bottom: 0 !important;
	font-family: 'Chobani Serif', serif !important;
}

.tiletitle h2 a {
	color: var(--green) !important;
}

body.coreCSB .bordercolorb6a533a1 {
	border: none !important;
}